*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body,
header,
main,
header > ul{
    display: flex;
}

body,
main{
    flex-direction: column;
}

header{
    background-color: #000080;
    color: #ffffff;
    height: 10vh;
    padding: 0 10px;

    align-items: center;
    justify-content: space-between;
}
header > ul{
    list-style-type: none;
    width: 25%;

    justify-content: space-evenly;
}
header a{
    text-decoration: none;
    color: inherit;
}

main{
    margin-top: 20px;
}

h2{
    margin: 12px;
}

ul{
    margin: 12px 24px;
    padding: 10px;
}

img{
    height: 300px;
    width: 400px;
}

footer{
    text-align: center;
}